<nav class="navbar navbar-dark bg-dark">
  <a href="home"><img width="50" src="https://image.flaticon.com/icons/svg/985/985647.svg"></a>
  <div align="center"><a class="navbar-brand text-center" href="#">Sistema de Facturación</a></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <button class="btn btn-success btn-block" [routerLink]="['/facturas']">Generar factura</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/facturas/listado']">Ver factura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/productos']">Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/clientes']">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/vendedores']">Vendedores</a>
      </li>
    </ul>
  </div>
</nav>
